<!DOCTYPE html>
<html lang="ru">
<head>
  <title>Авторизация</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
  <h1>Войти</h1>
  <form class="form" method="post" th:action="@{/auth}">

    <p>
      <label>
        Логин
        <input name="username" placeholder="login" type="text"/>
      </label>
    </p>

    <p>
      <label>
        Пароль
        <input name="password" placeholder="******" type="password"/>
      </label>
    </p>

    <input type="submit" value="Зарегистрироваться">
  </form>
</body>
</html>
